/build/*.pyc
/mbclient/proj.android/gen
/mbclient/proj.android/libs
/mbclient/proj.android/obj
/mbclient/proj.android/bin
/mbclient/proj.android/assets
/mbclient/bin
/mbclient/cocos2d/cocos/platform/android/java/libs
/mbclient/cocos2d/cocos/platform/android/java/res
/mbclient/cocos2d/cocos/platform/android/java/bin
/mbclient/cocos2d/cocos/platform/android/java/gen
/mbclient/cocos2d/cocos/platform/android/java/local.properties
/mbclient/proj.android/local.properties
/*.zargo~
/mbclient/proj.win32/Debug.win32
/mbclient/proj.win32/*.sdf
/mbclient/proj.win32/*.opensdf
/mbclient/cocos2d/cocos/2d/Debug.win32
/mbclient/cocos2d/cocos/audio/proj.win32/Debug.win32
/mbclient/cocos2d/external/chipmunk/proj.win32/Debug.win32
/document/*.zargo~
/project/*.sublime-workspace
/ying/build/journey
/ying/build/configure
/ying/build/gameServer
/ying/build/gameClient
/ying/binary/tcpClient.xml
/ying/binary/tcpServer.xml
/ying/binary/profile.prof
