/ying/build/profile.prof
/ying/build/cmake.sublime-workspace

/ying/build/client-ide
/ying/build/client-mak
/ying/build/server-ide
/ying/build/server-mak
/ying/build/login-ide
/ying/build/login-mak
/build/*.pyc
/ying/build/visual-client
/ying/build/visual-server
/ying/build/build-client
/ying/build/build-server
/mbclient/proj.android/gen
/mbclient/proj.android/libs
/mbclient/proj.android/obj
/mbclient/proj.android/bin
/mbclient/proj.android/assets
/mbclient/bin
/mbclient/cocos2d/cocos/platform/android/java/libs
/mbclient/cocos2d/cocos/platform/android/java/res
/mbclient/cocos2d/cocos/platform/android/java/bin
/mbclient/cocos2d/cocos/platform/android/java/gen
/mbclient/cocos2d/cocos/platform/android/java/local.properties
/mbclient/proj.android/local.properties
/*.zargo~
/mbclient/proj.win32/Debug.win32
/mbclient/proj.win32/*.sdf
/mbclient/proj.win32/*.opensdf
/mbclient/cocos2d/cocos/2d/Debug.win32
/mbclient/cocos2d/cocos/audio/proj.win32/Debug.win32
/mbclient/cocos2d/external/chipmunk/proj.win32/Debug.win32
/document/*.zargo~
/project/*.sublime-workspace
